<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolej Profesional MARA Beranang</title>
    <style>
        body{background-color: lightgreen;}
        h1{color: blue;}
        table,tr,td,th{border: solid;}
    </style>
</head>
<body>
    <h1>KOLEJ PROFESIONAL MARA BERANANG</h1>
    <h2>COURSE</h2>

    <table>
        <tr>
            <th>CODE</th>
            <th>DESCRIPTION</th>
            <th>UPDATE?</th>
            <th>DELETE?</th>
        </tr>
        {% for data in allcourse %}
            <tr>
                <td>{{data.code}}</td>
                <td>{{data.description}}</td>
                <td><a href="update_course/{{data.code}}">Update</a></td>
                <td><a href="delete_course/{{data.code}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    
    <br><br>
   <a href="new_course">New Course</a> 
    <br>
   <a href="/kpmb">Home</a> <!-- <a href="/kpmb">Home</a> -->
</body>
</html>