<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       body{background-color:bisque;
            margin-left: 20px;}
        h1{color: blue;}  
    </style>
   
</head>
<body>
    <h1>Kolej Profesional MARA Beranang</h1>
    <h2>COURSE</h2>
    <form action="new_course" method="post">
        {%csrf_token %}
        Course Code <input type="text" name="code"><br><br>
        Description <input type="text" name="desc"><br><br>
        <input type="submit" value="SAVE"><br><br>
    </form>
    <br><br>
    {{message}}

   <a href="/kpmb/course/">Back</a> 
    
    
</body>
</html>