<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolej Profesional MARA Beranang</title>
</head>
<body>
    <h1>KOLEJ PROFESIONAL MARA BERANANG</h1>
    <h2>UPDATE COURSE</h2>

    <form action="save_update_course/{{data.code}}" method="post">
        {% csrf_token %}
            Course Code : <input type="text" name="code" value="{{data.code}}" disabled="false"> <br>
            Course Description : <input type="text" name="desc" value="{{data.description}}"><br>
            <input type="submit" value="SAVE">
    </form>
    <br><br>
    <a href="/kpmb/course/">Back</a> 
</body>
</html>